* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(
    --background-color
  ); /* Light Grayish Beige background */
  font-family: "Poppins", sans-serif; /* Ensure consistent font */
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-btn: #28a745;
  --primary-btn-hover: #1f8364;
  --secondary-btn: #134f6c;
  --secondary-btn-hover: #0d3549;
  --text-color: #333333;
  --background-color: #d8d8d8;
  --white: #ffffff;
  --transition-speed: 0.4s;
  --header-height: 80px; /* Adjust based on your design */
}
